@()

<!DOCTYPE html>

<html>
  <head>
    <title>Play Workflow4s</title>
  </head>
  <body>
    <h1>Play Workflow4s</h1>
    <p>
      Actions
    </p>
    <ul>
      <li><a href="@routes.WorkflowController.create_kyc("usr-0001")">Create KYC</a></li>
      <li><a href="@routes.WorkflowController.render("1")">Render KYC</a>, NB: you should update the id in the url</li>
      <li><a href="@routes.WorkflowController.update_data("1")">Update KYC</a>, NB: you should update the id in the url</li>
    </ul>
  </body>
</html>
